{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/loading.js')}}"></script>
<script>
(function() {
    document.getElementById('navbar-home').classList.remove('menuSelected');
    document.getElementById('navbar-createExperiment').classList.remove('menuSelected');
    document.getElementById('navbar-vnf').classList.add('menuSelected');
})();

</script>
{% endblock %}

{% block app_content %}
<div class="opaque" hidden></div>
<div class="loader" hidden></div>
    <div class="col-md-2"></div>
<div class="col-md-8" style="padding-right: 25px">
    <div style="text-align: center">
        <h2>MALAGA PLATFORM DESCRIPTION</h2>
    </div>
    <div>
        <h3>Available devices</h3>
        <ul>
            <li><strong>Crosscall</strong> (UE_S0_OUT ):<br>
                <strong>OS:</strong> Android  <br>
                Qualcom<br>
				IP address: 172.23.2.189<br>
				<strong>Attached to scenario Outdoor Ada Byron</strong><br>
            </li>
            <li><strong>One Plus</strong> (UE_S0_IN ) :<br>
                <strong>OS:</strong> Android <br>
               Qualcom<br>
				IP address: 172.23.4.151<br>
				<strong>Attached to scenario Indoor Ada Byron</strong><br>				
            </li>
			 <li><strong>Outdoor</strong> :<br>
                <strong>OS:</strong> CPE <br>
               MediaTek<br>
				IP address: 172.23.4.151<br>
				<strong>Attached to scenario Outdoor La Mayora</strong><br>				
            </li>
        </ul>
    </div>
    <div>
        <h3>Scenarios</h3>
        <ul>
            <li><strong>Indoor Ada Byron</strong><br>
                Nokia Picocells 
            </li>
            <li><strong>Outdoor Ada Byron</strong><br>
                Nokia microcells band 78
            </li>
			<li><strong>Outdoor La Mayora</strong><br>
                Nokia macrocell band 40
            </li>
        </ul>
    </div>
    
</div>
{% endblock %}