{% extends 'bootstrap/base.html' %}

{% macro csv(values, separator = ', ') %}
    {% for value in values %}{{ value }}{{ separator if not loop.last }}{% endfor %}
{% endmacro %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='js/nanobar.min.js') }}"></script>
    <script>
        window.setTimeout(function() {
            $(".alert_message").fadeTo(500, 0).slideUp(500, function(){ $(this).remove(); });
        }, 20000);
    </script>
    <script>
        function setTab(tabName){
            tabs = document.querySelectorAll(".navbar-item");
            for (var i=0; i<tabs.length; i++) {
                tab = tabs[i];
                tab.classList.remove("menuSelected");
            }
            document.getElementById(tabName).classList.add("menuSelected");
        }
    </script>
{% endblock %}

<html>
{% block title %}
    {% if title %}{{ title }} - {% endif %}{{ platformName }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='branding/' + favicon) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if current_user.is_anonymous %}
                {% set url = 'auth.login' %}
            {% else %}
                {% set url = 'main.index' %}
            {% endif %}
            <a href="{{ url_for(url) }}"><img
                    src="{{ url_for('static', filename='branding/' + header) }}" alt="{{ platformName }}" height="48"
                    width="48" style="float: left; padding: 5px"></a>
            <a class="navbar-brand" href="{{ url_for(url) }}">{{ platformName }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if current_user.is_anonymous %}
                <ul class="nav navbar-nav">
                    <li><a class="navbar-item" id="navbar-login" href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a class="navbar-item" id="navbar-register" href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a class="navbar-item" id="navbar-reset-password" href="{{ url_for('auth.reset_password_request') }}">Forgot Password?</a></li>
                    <li><a class="navbar-item" id="navbar-info" href="{{ url_for('main.info') }}">Info</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li><a class="navbar-item" id="navbar-home" href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a class="navbar-item" id="navbar-createExperiment" href="{{ url_for('experiment.create') }}">Create Experiment</a></li>
                    {% if ewEnabled %}
                        <li><a class="navbar-item" id="navbar-createDistExperiment" href="{{ url_for('experiment.createDist') }}">Create Distributed Experiment</a></li>
                    {% endif %}
                    <li><a class="navbar-item" id="navbar-info" href="{{ url_for('main.info') }}">Info</a></li>
                    {% if current_user.is_admin %}
                        <li><a class="navbar-item" id="navbar-manage-users" href="{{ url_for('auth.manage_users') }}">Manage Users</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('auth.logout') }}">{{ current_user.username }} - Logout</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ 'alert-danger' if category == 'error' else 'alert-info' }} alert_message" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}